Repository fenrirdev234/dev-ciro-sira-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:file, prettier --check, vitest related --run

.lintstagedrc:

{
  "**/*.{ts?(x),mts}": ["tsc   --noEmit"],
  "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": ["npm run lint:file", "prettier --check", "vitest related --run"],
  "*.{json,md}": ["prettier --check"]
}

build(.github): fix disabled config by personal project
  .github/workflows/node.yml
Due: none

fix: comment code no ending
  src/controllers/authController.ts
Due: npm run lint:file, prettier --check, vitest related --run

build(github): change config npm ci
  .github/workflows/node.yml
Due: none

style: formatting
  .lintstagedrc
  src/config/constants.ts
  src/utils/imageName.ts
  tsconfig.json
Due: npm run lint:file, prettier --check, vitest related --run

style: formatting docker componse
  docker-compose.yml
Due: none

chore: delete githud and husky example
  .githubExample/workflows/ci.yml
  .huskyExample/pre-commit
Due: none

build(.github): fix typo and and assign-me action
  .github/pr-scope-labeler.yml
  .github/workflows/assign-me.yml
  .github/workflows/node.yml
Due: none

test: update config
  vitest.config.js
  vitest.config.ts
Due: npm run lint:file, prettier --check, vitest related --run

build(.github): add --no-fund
  .github/workflows/node.yml
Due: none

ci: add lint pr title action
  .github/workflows/lint-pr-title.yml
Due: none

ci: add dependabot
  .github/dependabot.yml
Due: none

ci: delete dependabot
  .github/dependabot.yml
Due: none

feat: todo error
  src/middlewares/unknownEndpoint.ts
Due: npm run lint:file, prettier --check, vitest related --run

feat: add health route
  src/app.ts
Due: npm run lint:file, prettier --check, vitest related --run

feat: add faker.js and delete ^ in package
  package-lock.json
  package.json
Due: prettier --check

feat: add auth, role and requierdAuth middleware
  src/controllers/authController.ts
  src/interface/ICustomRequest.ts
  src/lib/initialSetup.ts
  src/lib/jwt.ts
  src/middlewares/requireAuth.ts
  src/models/authModel.ts
  src/models/roleModel.ts
  src/models/userModel.ts
  src/schemas/authSchema.ts
  src/schemas/authSchema.validation.ts
  src/schemas/roleSchema.ts
  src/schemas/userSchema.ts
  src/services/AuthServices.ts
  src/v1/routes/authRouters.ts
Due: npm run lint:file, prettier --check, vitest related --run

feat: change postSchema
  src/schemas/postSchema.ts
Due: npm run lint:file, prettier --check, vitest related --run

feat: add dockerfile optomizade
  .dockerignore
  docker-compose.yml
  dockerfile
Due: none

feat: update node version
  .nvmrc
  dockerfile
Due: none

feat: change hapi/boom to http-status-codes and update package
  package-lock.json
  package.json
  src/middlewares/errorHandle.ts
  src/middlewares/unknownEndpoint.ts
  src/schemas/authSchema.validation.ts
Due: npm run lint:file, prettier --check, vitest related --run
